@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;

  --bg-main: #f0f3fc;
}

* {
  font-family: var(--montserrat);
}

body {
  background-color: var(--bg-main);
}

.gd-text-main {
  background: -webkit-linear-gradient(45deg, #8e2de2, #4a00e0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gd-main {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.gd-main-sub {
  transition: all 0.15s ease-in;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: gray;
}

.gd-main-sub:hover {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8e2de2;
}
